body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Application header. */
.app-header {
  padding-left: 20px;
  padding-right: 20px;
}

/* Application content. */
.app-content {
  padding: 10px 20px;
}

/* Entries wrapper. */
.entries {
  width: 100%;
  text-align: left;
}
